# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        # ATENÇÃO: Coloque seu usuário do Docker Hub aqui!
        # O 'initial' será substituído pela GitHub Action
        image: aykencastro/hello-app:c441e87919b1e144e5851640f61a4e11c6175ad9
        ports:
        - containerPort: 80