# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        # ATENÇÃO: Coloque seu usuário do Docker Hub aqui!
        # O 'initial' será substituído pela GitHub Action
        image: aykencastro/hello-app:e3a2b983aab8f535d9a00f5a6b44c1e3562d8e17
        ports:
        - containerPort: 80